<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/wave_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wave_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wave"
        tools:remove="android.adservices.AD_SERVICES_CONFIG"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".BudgetPlannerActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- OnboardingActivity: Separate onboarding screen without launcher intent -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Wave"></activity>
        <activity
            android:name=".SchoolHomeTasksActivity"
            android:exported="true"
            android:theme="@style/Theme.Wave"></activity>
        <activity
            android:name=".WellnessActivity"
            android:exported="true" /> <!-- Facebook App Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" /> <!-- Facebook Login Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SchoolHomeCalendarActivity"
            android:exported="true" />
    </application>

</manifest>